extends layout.pug

block content
  main.content
    h1.form-title Create note form
    if success
      p.success Your note is added

    if error
      p.error Your note was not added. Error occured

    form.form(method='POST' action='/create')
      label Title
      input.input(type='text' name='title')

      label Description
      textarea.input(rows='10' cols='8' name='desc')

      button.btn Create new note 