extends layout.pug

block content
  main.content
    h1.form-title Create note form

    form.form(method='POST' action='/create-note')
      label Title
      input.input(type='text' name='title')

      label Description
      textarea.input(rows='10' cols='8' name='desc')

      button.btn Create new note 