doctype html
html
  head
    title 00012827
    link(rel='stylesheet' href='/static/main.css')
  body
    header.header
      h1.logo 
        a(href='/') Notes App
      nav.nav
        a(href = '/notes ') notes
        a(href = '/archive ')  Archive
    block content